# ⚠️  GitOps-controlled — changes here trigger ArgoCD sync
replicaCount: 1

image:
  repository: andriiuni/spam2000
  pullPolicy: IfNotPresent
  tag: "1.1394.355"

service:
  type: ClusterIP
  port: 3000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 150m
    memory: 128Mi

metrics:
  enabled: true
  path: /metrics
  interval: 15s
